**
!bridge/
!bridge/**
!vendor/
!vendor/blinkpy/
!vendor/blinkpy/**
!requirements.lock
!LICENSE
!NOTICE
!THIRD-PARTY.md
!scripts/
!scripts/collect-debian-sources.sh
**/__pycache__/
**/*.pyc
**/.git/
**/.env
**/.env.*
**/auth.json
**/credentials.json
**/*.sqlite
**/*.sqlite-wal
**/*.sqlite-shm
**/*.log
**/*.pem
**/*.key
